<main class="mi-bg-black">
    <nav class="p-0 m-0 pt-1" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' %3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb p-0 m-0 text-uppercase">
            <li class="p-0 m-0 ms-3 breadcrumb-item text-white fs-5"><a style="color: inherit;text-decoration: none; color: var(--color-secondary);"
            routerLink="">Inicio </a></li>                
            <ng-container *ngIf="idProvider !== 0">
                <li class="p-0 m-0 ms-3 me-3 breadcrumb-item text-white fs-5"><a style="color: inherit;text-decoration: none; color: var(--color-secondary);"
                    routerLink="../list">Listado de Proveedores </a></li>
                <li class="p-0 m-0 breadcrumb-item active text-white fs-5" aria-current="page">Editar Proveedor: {{ provider.businessName }} | COD: {{ provider.codProvider }}</li>
            </ng-container>
            <li *ngIf="idProvider === 0" class="p-0 m-0 breadcrumb-item active text-white fs-5" aria-current="page">Agregar proveedor</li>
        </ol>
    </nav>
    <div class="container py-2">        
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-light bg-light px-2">
                    <div class="card-header p-0 m-0">
                        <h3 class="text-center font-weight-light p-1 my-0">{{(this.idProvider === 0) ? 'Agregar ' : 'Editar '}}Proveedor</h3>
                        <p class="h6 text-start p-0 m-0">
                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#d6b300" d="M192 32c17.7 0 32 14.3 32 32V199.5l111.5-66.9c15.2-9.1 34.8-4.2 43.9 11s4.2 34.8-11 43.9L254.2 256l114.3 68.6c15.2 9.1 20.1 28.7 11 43.9s-28.7 20.1-43.9 11L224 312.5V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V312.5L48.5 379.4c-15.2 9.1-34.8 4.2-43.9-11s-4.2-34.8 11-43.9L129.8 256 15.5 187.4c-15.2-9.1-20.1-28.7-11-43.9s28.7-20.1 43.9-11L160 199.5V64c0-17.7 14.3-32 32-32z"/></svg>
                            <strong class="mx-2">Requerido</strong>
                        </p>
                    </div>
                    <div class="card-body">
                        <form #miForm="ngForm" (ngSubmit)="agregarProvider(miForm)">                            
                            <div class="row mb-3">
                                <p class="h6">Datos de la Empresa: </p> 
                                <div class="col-md-4">                                    
                                    <div class=" form-floating mb-3 mb-md-0">
                                        <input #logo="ngModel" [ngClass]="!logo.value ? '': logo.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'" minlength="3" maxlength="1024" class="form-control form-control-sm" name="logo" [(ngModel)]="provider.logo" type="url" placeholder="" />
                                        <label id="labelCode" for="inputCode">Logo:</label>
                                        <ng-container *ngIf="logo.value">
                                            <span *ngIf="logo.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 3.
                                            </span>
                                            <span *ngIf="logo.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 1024.
                                            </span> 
                                            <span *ngIf="!isWebsite(logo.value) && show" class="mi-invalid-feedback">
                                                Debe ingresar una URL valida.
                                            </span>                                            
                                        </ng-container>                                        
                                    </div>                                    
                                </div> 
                                <div class="col-md-4">                                    
                                    <div class=" form-floating mb-3 mb-md-0">
                                        <input #codProvider="ngModel" [ngClass]="!codProvider.value ? 'mi-requerido': codProvider.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'" minlength="3" maxlength="30" required class="form-control form-control-sm" name="codProvider" [(ngModel)]="provider.codProvider" type="text" placeholder="" />
                                        <label id="labelCode" for="inputCode">Codigo proveedor:</label>
                                        <ng-container *ngIf="codProvider.value">
                                            <span *ngIf="codProvider.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 3.
                                            </span>
                                            <span *ngIf="codProvider.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 30.
                                            </span> 
                                            <span *ngIf="!checkSpecialCharacters(codProvider.value) && show" class="mi-invalid-feedback">
                                                No se aceptan caracteres especiales.
                                            </span>                                           
                                        </ng-container>
                                        <ng-container *ngIf="!codProvider.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Campo requerido.
                                            </span>  
                                        </ng-container>
                                    </div>                                    
                                </div>
                                <div class="col-md-4">
                                    <div class=" form-floating">
                                        <input #bussName="ngModel"  class="form-control form-control-sm" name="bussName" [(ngModel)]="provider.businessName" type="text" placeholder=""
                                        [ngClass]="!bussName.value ? 'mi-requerido': bussName.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        required minlength="3" maxlength="50" >
                                        <label for="inputRazonSocial">Razon Social:</label>
                                        <ng-container *ngIf="bussName.value">
                                            <span *ngIf="bussName.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 3.
                                            </span>
                                            <span *ngIf="bussName.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 50.
                                            </span>
                                            <span *ngIf="!checkSpecialCharacters(bussName.value) && show" class="mi-invalid-feedback">
                                                No se aceptan caracteres especiales.
                                            </span>                                             
                                        </ng-container>
                                        <ng-container *ngIf="!bussName.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Campo requerido.
                                            </span>  
                                        </ng-container>
                                    </div>
                                </div>                                
                            </div>
                            <div class="row mb-4 ">                                                                                            
                                <div class="col-md-3">
                                    <div class=" form-floating mb-3">
                                        <input minlength="3" maxlength="1024" class="form-control form-control-sm" name="website" [(ngModel)]="provider.website" 
                                        #website="ngModel" [ngClass]="!website.value ? '': website.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        type="url" placeholder="" />
                                        <label for="inputSitioWeb">Sitio Web:</label>
                                        <ng-container *ngIf="website.value">
                                            <span *ngIf="website.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 3.
                                            </span>
                                            <span *ngIf="website.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 1024.
                                            </span>
                                            <span *ngIf="!isWebsite(website.value) && show" class="mi-invalid-feedback">
                                                Debe ingresar un sitio web valido.
                                            </span>                                                                                          
                                        </ng-container>                                        
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" form-floating mb-3 mb-md-0">
                                        <input required class="form-control form-control-sm" name="emailOne" [(ngModel)]="provider.email" type="email" minlength="4" maxlength="50" placeholder=""
                                        #emailOne="ngModel" [ngClass]="!emailOne.value ? 'mi-requerido': emailOne.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        />
                                        <label id="labelCode" for="inputCode">E-mail:</label>
                                        <ng-container *ngIf="emailOne.value">
                                            <span *ngIf="emailOne.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 4.
                                            </span>
                                            <span *ngIf="emailOne.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 50.
                                            </span>
                                            <span *ngIf="(!isEmail(emailOne.value) && show)" class="mi-invalid-feedback">
                                                Debe ingresar un email valido.
                                            </span>                                             
                                        </ng-container>
                                        <ng-container *ngIf="!emailOne.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Campo requerido.
                                            </span>  
                                        </ng-container> 
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" form-floating">
                                        <input (input)="formatPhoneNumber($event, true)" required minlength="14" maxlength="14" class="form-control form-control-sm" name="phoneOne" [(ngModel)]="provider.phone" type="text" placeholder=""
                                        #phoneOne="ngModel" [ngClass]="!phoneOne.value ? 'mi-requerido': phoneOne.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        />
                                        <label for="inputRazonSocial">Telefono: </label>
                                        <ng-container *ngIf="phoneOne.value">
                                            <span *ngIf="phoneOne.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 10.
                                            </span>
                                            <span *ngIf="!isPhoneNumber(phoneOne.value) && show" class="mi-invalid-feedback">
                                                Formato invalido. Solo numeros. 
                                            </span>
                                        </ng-container>
                                        <ng-container *ngIf="!phoneOne.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Campo requerido.
                                            </span>  
                                        </ng-container> 
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class=" form-floating mb-3 mb-md-0">
                                        <select required class="form-select form-select-sm" name="sector" [(ngModel)]="provider.sector.id"
                                        #sector="ngModel" [ngClass]="!sector.value ? 'mi-requerido': sector.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        >
                                            <option *ngFor="let sector of this.sectors; index as i" value="{{ sector.id }}">{{ sector.sector }}</option>                                          
                                        </select>                                        
                                        <label id="labelRubro" for="inputRubro">Rubro:</label>                                    
                                    </div>
                                    <ng-container *ngIf="!sector.value">
                                        <span *ngIf="showRequired" class="mi-invalid-feedback">
                                            Debes seleccionar un rubro.
                                        </span>                                                                                       
                                    </ng-container>                                 
                                </div>
                            </div>
                            <div class="row mb-3">                      
                                <p class="h6">Direccion: </p>
                                <div class="col-md-4">                                                                                                       
                                    <div class=" form-floating">                                                                                                               
                                        <input required minlength="3" maxlength="30" type="text" class="form-control form-control-sm" 
                                         name="street" [(ngModel)]="provider.location.street" placeholder=""
                                         #street="ngModel" [ngClass]="!street.value ? 'mi-requerido': street.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'">
                                        <label for="inputCalle">Calle: </label>
                                        <ng-container *ngIf="street.value">
                                            <span *ngIf="street.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 30
                                            </span>
                                            <span *ngIf="street.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 3
                                            </span>
                                            <span *ngIf="!checkSpecialCharacters(street.value) && show" class="mi-invalid-feedback">
                                                No se aceptan caracteres especiales.
                                            </span>                                                                                       
                                        </ng-container>
                                        <ng-container *ngIf="!street.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Campo requerido.
                                            </span>  
                                        </ng-container> 
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class=" form-floating">                                                        
                                        <input max="99999" type="number" class="form-control form-control-sm" name="streetNum" [(ngModel)]="provider.location.number" placeholder=""
                                        #streetNumber="ngModel" [ngClass]="!streetNumber.value ? 'mi-requerido': streetNumber.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'">
                                        <label for="inputCalleNro">Numero de calle: </label>
                                        <ng-container *ngIf="streetNumber.value">
                                            <span *ngIf="streetNumber.errors?.['max'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 5
                                            </span>                                            
                                            <span *ngIf="!checkOnlyNumbers(streetNumber.value) && show" class="mi-invalid-feedback">
                                                Debe ser un numero positivo.
                                            </span>                                                                                      
                                        </ng-container> 
                                    </div>
                                </div>
                                <div class="col-md-4">                                                                                                       
                                    <div class=" form-floating">                                                                                                               
                                        <input required type="text" maxlength="8" minlength="3" class="form-control form-control-sm" name="postalCode" [(ngModel)]="provider.location.postalCode" placeholder=""
                                        #postalCode="ngModel" [ngClass]="!postalCode.value ? 'mi-requerido': postalCode.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'">
                                        <label for="inputCalle">Cod. Postal: </label>
                                        <ng-container *ngIf="postalCode.value">
                                            <span *ngIf="postalCode.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 3
                                            </span>
                                            <span *ngIf="postalCode.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 8
                                            </span>
                                            <span *ngIf="!checkSpecialCharacters(postalCode.value) && show" class="mi-invalid-feedback">
                                                No se aceptan caracteres especiales.
                                            </span>                                           
                                        </ng-container>
                                        <ng-container *ngIf="!postalCode.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Campo requerido.
                                            </span>  
                                        </ng-container>  
                                    </div>
                                </div>                                
                            </div>     
                            <div class="row mb-5">
                                <div class="col-md-4">  
                                    <div class=" form-floating">                                                 
                                        <select required class="form-select form-select-sm" name="country" [(ngModel)]="provider.location.city.state.country.id"  (change)="updateStates(countryModel.value)"
                                        #countryModel="ngModel" [ngClass]="!countryModel.value ? 'mi-requerido': countryModel.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        >
                                            <option *ngFor="let country of countries; index as i" value="{{ country.id }}">{{ country.name }}</option>                                            
                                        </select>
                                        <label for="SelPais">País:</label>
                                        <ng-container *ngIf="!countryModel.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Debes seleccionar un pais.
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-4">  
                                    <div class=" form-floating">                                                 
                                        <select required [disabled]="this.provider.location.city.state.country.id == 0" class="form-control form-control-sm" name="state" [(ngModel)]="provider.location.city.state.id" (change)="updateCities(stateModel.value)"
                                        #stateModel="ngModel" [ngClass]="!stateModel.value ? 'mi-requerido': stateModel.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        >
                                            <option *ngFor="let state of this.states; index as i" value="{{ state.id }}">{{ state.name }}</option>
                                        </select>
                                        <label for="SelPais">Provincia:</label>
                                        <ng-container *ngIf="!stateModel.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Debes seleccionar una provincia.
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-4">  
                                    <div class=" form-floating">                                                 
                                        <select [disabled]="this.provider.location.city.state.id == 0" required class="form-control form-control-sm" name="city" [(ngModel)]="provider.location.city.id"
                                        #city="ngModel" [ngClass]="!city.value ? 'mi-requerido': city.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        >
                                            <option  *ngFor="let city of this.cities ; index as i" value="{{ city.id }}">{{ city.name }}</option>
                                        </select>
                                        <label for="SelLocalidad">Localidad:</label>
                                        <ng-container *ngIf="!city.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Debes seleccionar una localidad.
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>                     
                            <div class="row mb-3">
                                <div class="col-md-2 mb-3">
                                    <div class="row mb-3">
                                        <p class="h6">Datos Fiscales: </p>
                                        <div class="col-md-12">                                                                                                       
                                            <div class=" form-floating">                                                                                                               
                                                <input (input)="formatCuil($event)" required maxlength="13" minlength="13"  type="text" class="form-control form-control-sm" name="cuit" [(ngModel)]="provider.taxData.cuit" placeholder=""
                                                #cuit="ngModel" [ngClass]="!cuit.value ? 'mi-requerido': cuit.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                                >
                                                <label for="inputCuit">CUIT: </label>
                                                <ng-container *ngIf="cuit.value">
                                                    <span *ngIf="cuit.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                        11 caracteres, sin guiones.
                                                    </span>
                                                    <span *ngIf="!isCuit(cuit.value) && show" class="mi-invalid-feedback">
                                                        Debe ingresar un cuit valido.
                                                    </span>                                                                                                 
                                                </ng-container>
                                                <ng-container *ngIf="!cuit.value">
                                                    <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                        Campo requerido.
                                                    </span>  
                                                </ng-container> 
                                            </div>
                                        </div>                                    
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class=" form-floating">
                                                <select required class="form-select form-select-sm" name="ivaCondition" [(ngModel)]="provider.taxData.ivaCondition.id"
                                                #ivaCondition="ngModel" [ngClass]="!ivaCondition.value ? 'mi-requerido': ivaCondition.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                                >
                                                    <option *ngFor="let condition of this.ivaConditions; index as i" value="{{ condition.id }}">{{ condition.condition }}</option>
                                                </select>                                               
                                                <label for="inputCondIva">Cond. iva: </label>
                                                <ng-container *ngIf="!ivaCondition.value">
                                                    <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                        Debes seleccionar una cond. iva.
                                                    </span>
                                                </ng-container>                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="row mb-3">
                                        <p class="h6">Datos de Contacto: </p>
                                        <div class="col-md-6">                                                                                                       
                                            <div class=" form-floating">                                                                                                               
                                                <input required minlength="3" maxlength="30" type="text" class="form-control form-control-sm" name="name" [(ngModel)]="provider.contactData.name" placeholder=""
                                                #name="ngModel" [ngClass]="!name.value ? 'mi-requerido': name.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                                >
                                                <label for="inputNombre">Nombre: </label>
                                                <ng-container *ngIf="name.value">
                                                    <span *ngIf="name.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                        Longitud minima 3.
                                                    </span>
                                                    <span *ngIf="name.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                        Longitud maxima 30.
                                                    </span>
                                                    <span *ngIf="!checkSpecialCharacters(name.value) && show" class="mi-invalid-feedback">
                                                        No se aceptan caracteres especiales.
                                                    </span>                                           
                                                </ng-container>
                                                <ng-container *ngIf="!name.value">
                                                    <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                        Campo requerido.
                                                    </span>  
                                                </ng-container> 
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class=" form-floating">                                                        
                                                <input required minlength="3" maxlength="30" type="text" class="form-control form-control-sm" name="lastName" [(ngModel)]="provider.contactData.lastName" placeholder=""
                                                #lastName="ngModel" [ngClass]="!lastName.value ? 'mi-requerido': lastName.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                                >
                                                <label for="inputApellido">Apellido: </label>
                                                <ng-container *ngIf="lastName.value">
                                                    <span *ngIf="lastName.errors?.['minlength']&& !show" class="mi-invalid-feedback">
                                                        Longitud minima 3.
                                                    </span>
                                                    <span *ngIf="lastName.errors?.['maxlength']&& !show" class="mi-invalid-feedback">
                                                        Longitud maxima 30.
                                                    </span>
                                                    <span *ngIf="!checkSpecialCharacters(lastName.value) && show" class="mi-invalid-feedback">
                                                        No se aceptan caracteres especiales.
                                                    </span>                                           
                                                </ng-container>
                                                <ng-container *ngIf="!lastName.value">
                                                    <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                        Campo requerido.
                                                    </span>  
                                                </ng-container> 
                                            </div>
                                        </div>                                                        
                                    </div>                                    
                                    <div class="row mb-3">                                            
                                        <div class="col-md-6">
                                            <div class=" form-floating mb-3">
                                                <input required minlength="4" maxlength="50" class="form-control form-control-sm" name="emailTwo" [(ngModel)]="provider.contactData.email" type="email" placeholder="name@example.com" 
                                                #emailTwo="ngModel" [ngClass]="!emailTwo.value ? 'mi-requerido': emailTwo.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                                >
                                                <label for="inputEmail">Email:</label>
                                                <ng-container *ngIf="emailTwo.value">
                                                    <span *ngIf="emailTwo.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                        Longitud minima 4.
                                                    </span>
                                                    <span *ngIf="emailTwo.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                        Longitud maxima 50.
                                                    </span>
                                                    <span *ngIf="!isEmail(emailTwo.value) && show" class="mi-invalid-feedback">
                                                        Debe ingresar un email valido.
                                                    </span>                                         
                                                </ng-container>
                                                <ng-container *ngIf="!emailTwo.value">
                                                    <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                        Campo requerido.
                                                    </span>  
                                                </ng-container> 
                                            </div>
                                        </div>                                                                        
                                        <div class="col-md-3">
                                            <div class=" form-floating">                                                        
                                                <input (input)="formatPhoneNumber($event, false)"  required minlength="14" maxlength="14" type="text" class="form-control form-control-sm" name="phoneTwo" [(ngModel)]="provider.contactData.phone" placeholder=""
                                                #phoneTwo="ngModel" [ngClass]="!phoneTwo.value ? 'mi-requerido': phoneTwo.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                                >
                                                <label for="inputTelefono">Telefono: </label>
                                                <ng-container *ngIf="phoneTwo.value">
                                                    <span *ngIf="phoneTwo.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                        Longitud minima 10.
                                                    </span>
                                                    <span *ngIf="!isPhoneNumber(phoneTwo.value) && show" class="mi-invalid-feedback">
                                                        Formato invalido. Solo numeros. 
                                                    </span>
                                                </ng-container>
                                                <ng-container *ngIf="!phoneTwo.value">
                                                    <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                        Campo requerido.
                                                    </span>  
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class=" form-floating">                                                        
                                                <input required minlength="3" maxlength="30" type="text" class="form-control form-control-sm" name="role" [(ngModel)]="provider.contactData.role" placeholder=""
                                                #role="ngModel" [ngClass]="!role.value ? 'mi-requerido': role.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                                >
                                                <label for="inputRol">Rol: </label>
                                                <ng-container *ngIf="role.value">
                                                    <span *ngIf="role.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                        Longitud minima 3
                                                    </span>
                                                    <span *ngIf="role.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                        Longitud maxima 30
                                                    </span>
                                                    <span *ngIf="!checkSpecialCharacters(role.value) && show" class="mi-invalid-feedback">
                                                        No se aceptan caracteres especiales.
                                                    </span>                                        
                                                </ng-container>
                                                <ng-container *ngIf="!role.value">
                                                    <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                        Campo requerido.
                                                    </span>  
                                                </ng-container>                                       
                                            </div>
                                        </div>                                                        
                                    </div>                                    
                                </div>                                                                            
                            </div>                                                                                                          
                            <div class="mt-4 mb-0">
                                <div class="d-grid">
                                    <button *ngIf="idProvider==0" class="btn btn-block mi-btn-add" type="submit">Crear Proveedor</button>
                                    <button *ngIf="idProvider>0" class="btn btn-block mi-btn-add" type="submit">Editar Proveedor</button>                                    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>