 /* .table-dark {
    background-color: #333 !important;
  }
  
  .table-dark th, .table-dark td {
    border-color: #565656 !important;
    color: #fff !important; /* Texto blanco para mejor contraste en fondos oscuros */
  /* }  */ 
html,body,.intro {
  height: 100%;
  border-color: #393939;
}

.card {
  border-radius: .5rem;
}

.table-scroll {
  border-radius: .5rem;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

thead {
  top: 0;
  position: sticky;
}

thead tr th{
  color: violet !important;
}

.table-borderless th{
  margin-left: 2rem !important;
}

/* PRUEBA */

.contextMenu{
  position: fixed;
  opacity: 0.9;
  background-color: #FFF;
  display: none;
  border: solid var(--color-primary);
}

.contextMenu .bttn{
  border-radius: 70%;
  margin: 0 !important;
  transition: all .3s linear;
}
.contextMenu .bttn:hover{
  border-radius: 0%;
  background-color: var(--color-primary);
  color: #FFF;
}