<main oncontextmenu="return false;" (mouseleave)="closeContextMenu()">
  <div class="container-fluid p-0 m-0">
    <div class="row p-0 m-0">
      <div class="col-12 p-0 m-0">
        <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true">
          <table class="table table-dark table-bordered table-hover p-0 m-0">
            <thead>
              <tr class="text-uppercase text-center">
                <ng-container [ngSwitch]="condicion">
                    <ng-container *ngSwitchCase="'provider'">
                      <th>cod</th>
                      <th>raz. social</th>
                      <th>nombre completo</th>
                      <th>contacto</th>                      
                    </ng-container>
                    <ng-container *ngSwitchCase="'article'">
                      <th>producto</th>
                      <th>categoria</th>
                      <th>proveedor</th>
                      <th>precio</th>                      
                    </ng-container>
                    <ng-container *ngSwitchCase="'purchase-order'">
                      <th>n° orden</th>
                      <th>fec. emision</th>
                      <th>fec. entrega</th>
                      <th>proveedor</th>
                      <th>estado</th>
                      <th>total</th>                      
                    </ng-container>
                    <ng-container *ngSwitchDefault=>
                      algo
                    </ng-container>
                  </ng-container>                       
              </tr>
            </thead>
            <tbody>
              <tr (mouseup)="detectRightMouseClick($event, el)" scope="row" class="text-uppercase text-center" *ngFor="let el of this.tbody; let i = index">
                <ng-container *ngFor="let key of thead">
                  <ng-container [ngSwitch]="key">
                    <ng-container *ngSwitchCase="'datosContacto'">
                      <td>
                        <span class="p-0 m-0 text-center">
                          <p>{{el[key].nombre}}<strong> - </strong>{{el[key].apellido}}</p>
                        </span>
                      </td>
                      <td>
                        <span class="p-0 m-0 text-start">
                          <p class="p-0 m-0"><strong>Sitio: </strong> {{el['sitioWeb']}}</p>
                          <p class="p-0 m-0"><strong>Email: </strong> {{el[key].email}}</p>
                          <p class="p-0 m-0"><strong>Telefono: </strong> {{el[key].telefono}}</p>
                        </span>           
                      </td>                      
                    </ng-container>
                    <ng-container *ngSwitchCase="'proveedor'">
                      <td>{{el[key].razSocial}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'detalle'">
                      <td>{{el[key][0].proveedor.razSocial}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'precio'">
                      <td>{{el[key] | currency:'USD':'symbol':'1.2-2'}}</td>
                    </ng-container>
                    <ng-container *ngSwitchCase="'total'">
                      <td>{{el[key] | currency:'USD':'symbol':'1.2-2'}}</td>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      <td>{{el[key]}}</td>
                    </ng-container>
                  </ng-container>
                </ng-container>                
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="condicion == 'purchase-order'" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title fs-5" id="exampleModalLabel">Detalle Orden: {{currentRecord.nroOC}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <p class="h4 text-center">{{currentRecord.detalle[0].proveedor.razSocial}}</p>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Articulo</th>                        
                        <th>Precio</th>
                        <th>Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="col" *ngFor="let el of currentRecord.detalle">
                        <td>
                          {{el.articulo.producto}} {{(el.cantidad > 1)?'('+el.cantidad+')':''}}
                        </td>
                        <td>
                          {{el.articulo.precio}}
                        </td>
                        <td>
                          {{el.subtotal}}
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="3" class="text-end">
                          <p class="px-5 mx-5">Total: {{currentRecord.total}}</p>
                        </th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>              
            </div>
          </div>
        </div>         
        <span class="row contextMenu  p-0 m-0" [ngStyle]="this.rightPanelStyle" (clickOutside)="closeContextMenu()">    
            <div class="col-12  p-0 m-0">
              <div class="d-flex flex-column p-0 m-0" role="group">
                <button type="button" class="btn bttn text-start text-uppercase" (click)="onAdd()">
                  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path class="icono" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                  Agregar
                </button>
                <button type="button" class="btn bttn text-start text-uppercase" (click)="onEdit()">
                  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path class="icono" d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160V416c0 53 43 96 96 96H352c53 0 96-43 96-96V320c0-17.7-14.3-32-32-32s-32 14.3-32 32v96c0 17.7-14.3 32-32 32H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96z"/></svg>
                  Editar
                </button>
                <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn bttn text-start text-uppercase" (click)="onInfo()">
                  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="6" viewBox="0 0 192 512"><path class="icono" d="M48 80a48 48 0 1 1 96 0A48 48 0 1 1 48 80zM0 224c0-17.7 14.3-32 32-32H96c17.7 0 32 14.3 32 32V448h32c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H64V256H32c-17.7 0-32-14.3-32-32z"/></svg>
                  Informacion
                </button>
                <button type="button" class="btn bttn text-start text-uppercase" (click)="condicion !== 'purchase-order' ? onDelete() : onCancel()">
                  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path class="icono" d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg>
                  Eliminar
                </button>
              </div>
            </div>
        </span>
      </div>
    </div>
  </div>
</main>