<main class="mi-bg-black">
    <div class="container py-1">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-light bg-light px-2">
                    <div class="card-header"><h3 class="text-center font-weight-light my-3">Nuevo Articulo</h3></div>
                    <div class="card-body">
                        <form #miForm="ngForm" (ngSubmit)="agregarArticle(miForm)">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input required minlength="3" maxlength="25" class="form-control" name="codArticle" [(ngModel)]="this.article.codArticle" type="text" placeholder="" 
                                        #codArticle="ngModel" [ngClass]="!codArticle.value ? 'mi-requerido': codArticle.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        />
                                        <label id="labelCode" for="inputCode">SKU: </label>
                                        <ng-container *ngIf="codArticle.value">
                                            <span *ngIf="codArticle.errors?.['minlength']" class="mi-invalid-feedback">
                                                Longitud minima 3
                                            </span>
                                            <span *ngIf="codArticle.errors?.['maxlength']" class="mi-invalid-feedback">
                                                Longitud maxima 25
                                            </span>                                             
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input required minlength="3" class="form-control" [(ngModel)]="this.article.name" name="name" type="text" placeholder="" />
                                        <label id="labelCode" for="inputProducto">Nombre: </label>
                                    </div>
                                </div>                                                                                             
                            </div>               
                            <div class="row mb-3">                                
                                <div class="col-md-6">  
                                    <div class="form-floating">                                                 
                                        <select required class="form-control" name="proveedor" [(ngModel)]="this.article.provider.id" 
                                        #provedor="ngModel" [ngClass]="!provedor.value ? 'mi-requerido': provedor.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        >
                                            <option *ngFor="let provider of this.providers" value="{{provider.id}}">
                                                {{provider.businessName| uppercase}}
                                            </option>
                                        </select>
                                        <label for="SelProvedor">Provedor:</label>
                                        <ng-container *ngIf="provedor.value">
                                            <span *ngIf="provedor.errors?.['required']" class="mi-invalid-feedback">
                                                Requerido
                                            </span>                                            
                                        </ng-container> 
                                    </div>
                                </div>
                                <div class="col-md-6">  
                                    <div class="form-floating d-flex">                                                 
                                        <select required class="form-control" name="category" [(ngModel)]="this.article.category.id"
                                        #category="ngModel" [ngClass]="!category.value ? 'mi-requerido': category.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        >
                                            <option *ngFor="let category of this.categories" value="{{category.id}}">
                                                {{category.name| uppercase}}
                                            </option>
                                            <!-- Mas opc -->
                                        </select>
                                        <label for="SelCategoria">Categoria:</label>
                                        <span class="mt-1 ms-1">                                                        
                                            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" title="Agregar nueva categoria" type="button" class="btn btn-lg btn-outline-success">
                                                <svg xmlns="http://www.w3.org/2000/svg" height="14" width="12" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#8732cd" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                            </button>
                                        </span>  
                                        <ng-container *ngIf="category.value">
                                            <span *ngIf="category.errors?.['required']" class="mi-invalid-feedback">
                                                Longitud minima 3                                            
                                            </span>                                             
                                        </ng-container>                                                                              
                                    </div>
                                </div>                                                                                
                            </div>
                            <div class="row mb-3">                                
                                <div class="col-md-6">                                    
                                    <div class=" form-floating mb-3 mb-md-0">
                                        <input #image="ngModel" [ngClass]="!image.value ? 'mi-requerido': image.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'" minlength="3" maxlength="255" required class="form-control form-control-sm"
                                        name="image" [(ngModel)]="article.image" type="url" placeholder="" />
                                        <label id="labelCode" for="inputCode">Imagen:</label>
                                        <ng-container *ngIf="image.value">
                                            <span *ngIf="image.errors?.['minlength']" class="mi-invalid-feedback">
                                                Longitud minima 3
                                            </span>
                                            <span *ngIf="image.errors?.['maxlength']" class="mi-invalid-feedback">
                                                Longitud maxima 25
                                            </span>                                             
                                        </ng-container>
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" name="price" [(ngModel)]="this.article.price" min="1" required type="number" placeholder="" 
                                        #price="ngModel" [ngClass]="!price.value ? 'mi-requerido': price.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        />
                                        <label id="labelRubro" for="inputPrecio">Precio: </label>
                                        <ng-container *ngIf="price.value">
                                            <span *ngIf="price.errors?.['min']" class="mi-invalid-feedback">
                                                valor positivo
                                            </span>                                             
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-floating mb-3">
                                        <textarea maxlength="512" minlength="3" class="form-control" name="description" [(ngModel)]="this.article.description" type="text" placeholder=""
                                        #description="ngModel" [ngClass]="!description.value ? 'mi-requerido': description.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        ></textarea>
                                        <label for="inputDescri">Descripcion: </label>
                                        <ng-container *ngIf="description.value">
                                            <span *ngIf="description.errors?.['minlength']" class="mi-invalid-feedback">
                                                Longitud minima 3
                                            </span>
                                            <span *ngIf="description.errors?.['maxlength']" class="mi-invalid-feedback">
                                                Longitud maxima 512
                                            </span>                                             
                                        </ng-container>
                                    </div>
                                </div>                                
                            </div>                                                                                                                          
                            <div class="mt-4 mb-0">
                                <div class="d-grid">
                                    <button *ngIf="idArticle==0" class="btn btn-block mi-btn-add" type="submit">Crear Articulo</button>
                                    <button *ngIf="idArticle>0" class="btn btn-block mi-btn-add" type="submit">Editar Articulo</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content mi-bg-black">          
                <div class="modal-header b-degrade">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>                
                </div>
                <div class="modal-body">
                    <app-add-category [categories]="categories" ></app-add-category>
                </div>
            </div> 
        </div>
    </div>
</main>
