<div class="container-fluid bg-dark text-light">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-uppercase">Bienvenidos</h1>
            <h2 class="text-center text-uppercase">Que quieres hacer</h2>
        </div>
    </div>
    <div class="row text-center mb-3">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary text-white text-center text-uppercase btn-block mb-2" routerLink="provider/add-provider">Alta Proveedor</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-secondary text-white text-center text-uppercase btn-block mb-2" routerLink="article/add-article">Alta Articulo</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-secondary text-white text-center text-uppercase btn-block mb-2" routerLink="purchase-order/add-purchase-order">Alta Orden de compra</button>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <button class="btn btn-outline-secondary text-white text-center text-uppercase btn-block mb-2"  routerLink="provider/list">Listado de Proveedores</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-secondary text-white text-center text-uppercase btn-block mb-2" routerLink="article/list">Listado de Articulos</button>
      </div>
      <div class="col-md-4">
        <button class="btn btn-outline-secondary text-white text-center text-uppercase btn-block mb-2"routerLink="purchase-order/list">Listado de Ordenes de Compra</button>
      </div>
    </div>
</div>
