<main class="mi-bg-black">
    <div class="container py-1">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-light bg-light px-2">
                    <div class="card-header"><h3 class="text-center font-weight-light my-3">Nueva Orden de Compra</h3></div>
                    <div class="card-body">
                        <form #miForm="ngForm" (ngSubmit)="agregarPurchaseOrder(miForm)">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input required minlength="3" maxlength="25" class="form-control" name="nroOC" [(ngModel)]="purchaseOrder.nroOC" type="text" placeholder="" 
                                        #nroOc="ngModel" [ngClass]="!nroOc.value ? 'mi-requerido': nroOc.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        />
                                        <label id="labelCode" for="inputNroOrdenCompra">Nro. Orden de Compra: </label>
                                        <ng-container *ngIf="nroOc.value">
                                            <span *ngIf="nroOc.errors?.['minlength']" class="mi-invalid-feedback">
                                                Longitud minima 3
                                            </span>
                                            <span *ngIf="nroOc.errors?.['maxlength']" class="mi-invalid-feedback">
                                                Longitud maxima 25
                                            </span>                                            
                                        </ng-container> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input required class="form-control" name="email" [(ngModel)]="purchaseOrder.email" type="email" minlength="4" placeholder="" />
                                        <label id="labelCode" for="inputEmail">E-mail:</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input readonly class="form-control" name="fecEmision" [(ngModel)]="purchaseOrder.fecEmision" type="date" placeholder="" />
                                        <label for="inputFecEmision">Fecha de emision:</label>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" name="fecEntrega" [(ngModel)]="purchaseOrder.fecEntrega" type="date" placeholder="" />
                                        <label for="inputFecEntrega">Fecha de recepcion:</label>
                                    </div>
                                </div>                                                               
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <textarea maxlength="512" class="form-control" name="descri" [(ngModel)]="purchaseOrder.descri" type="text" placeholder=""></textarea>
                                        <label for="inputDescri">Descripcion: </label>
                                    </div>
                                </div>                                
                            </div>                                                                        
                            <div class="row mb-3">
                                <div class="col-md-5">  
                                    <div class="form-floating">                                                 
                                        <select (change)="updateArticles()" [title]="purchaseOrder.detalle.length > 0 ? 'No puedes modificar el proveedor, una ves iniciado el detalle' : 'Proveedores'" [disabled]="purchaseOrder.detalle.length > 0" class="form-control" name="proveedor" [(ngModel)]="idProveedor">
                                            <option *ngFor="let provider of arrProviders" value="{{provider.id}}">
                                                {{provider.businessName| uppercase}}
                                            </option>                                                           
                                        </select>
                                        <label for="SelProvedores">Provedor:</label>
                                    </div>
                                </div>
                                <div class="col-md-4">  
                                    <div class="form-floating">                                                 
                                        <select required class="form-control" name="articulo" [(ngModel)]="idArticulo" #articulo="ngModel">
                                            <option *ngFor="let article of arrArticles" value="{{article.id}}">
                                                {{article.producto| uppercase	}}
                                            </option>                                                           
                                        </select>
                                        <label for="SelProductos">Articulo:</label>                                        
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-floating">                                                        
                                        <input type="number" min="1" value="1" class="form-control" [(ngModel)]="cantidad" name="cantidad" placeholder="">
                                        <label for="inputCantidad">Cantidad:</label>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-floating mt-1 ">                                                        
                                        <button title="Agregar al detalle" type="button" class="btn btn-lg btn-outline-success" (click)="agregarDetalle()">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="14" width="12" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#8732cd" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                        </button>
                                    </div>
                                </div>           
                            </div>                            
                            <div *ngIf="purchaseOrder.detalle.length > 0" class="row mt-0">
                                <p class="text-uppercase h5 p-0 m-0">Detalle: </p>
                                <div class="col-md-12 table-responsive table-scroll">
                                    <table class="table mt-4 text-center text-uppercase">
                                        <thead>
                                          <tr>
                                            <th>Proveedor</th>
                                            <th>Artículo</th>
                                            <th>Cantidad</th>
                                            <th>Subtotal</th>
                                            <th>Acciones</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let detalle of purchaseOrder.detalle">
                                            <td>{{ detalle.proveedor.businessName }}</td>
                                            <td>{{ detalle.articulo.producto }}</td>
                                            <td>{{ detalle.cantidad }}</td>
                                            <td>{{ detalle.subtotal | currency:'USD':'symbol':'1.2-2' }}</td>
                                            <td>
                                                <button type="button" title="Eliminar" class="btn btn-outline-danger btn-sm" (click)="eliminarDetalle(detalle)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#bc0101" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                                </button>
                                            </td>
                                          </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">
                                                    <div class="text-end px-2 mx-4">
                                                        <p><strong>Total: </strong> {{purchaseOrder.total | currency:'USD':'symbol':'1.2-2'}}</p>
                                                    </div>
                                                </th>                                               
                                            </tr>
                                        </tfoot>
                                      </table>
                                </div>
                            </div>                                                                                 
                            <div class="mt-4 mb-0">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-block mi-btn-add" id="btnCrearOC">Crear Orden de compra</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
