<main class="mi-bg-black">
    <nav class="p-0 m-0 pt-1" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' %3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb p-0 m-0 text-uppercase">
          <li class="p-0 m-0 ms-3 me-1 breadcrumb-item text-white fs-5"><a style="color: inherit;text-decoration: none; color: var(--color-secondary);"
            routerLink="">Inicio </a></li>
          <li class="p-0 m-0 breadcrumb-item active text-white fs-5" aria-current="page">Agregar orden de compra</li>
        </ol>
    </nav>
    <div class="container py-1">        
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card shadow-light bg-light px-2">
                    <div class="card-header"><h3 class="text-center font-weight-light my-3">Nueva Orden de Compra</h3></div>
                    <div class="card-body">
                        <form #miForm="ngForm" (ngSubmit)="agregarPurchaseOrder(miForm)">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input disabled title="Generado automaticamente" required minlength="8" maxlength="8" class="form-control" name="numPurchaseOrder" [(ngModel)]="purchaseOrder.numPurchaseOrder" type="text" placeholder="" 
                                        #numPurchaseOrder="ngModel" [ngClass]="!numPurchaseOrder.value ? 'mi-requerido': numPurchaseOrder.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        />
                                        <label id="labelCode" for="inputNroOrdenCompra">Nro. Orden de Compra: </label>
                                        <ng-container *ngIf="numPurchaseOrder.value">
                                            <span *ngIf="numPurchaseOrder.errors?.['minlength']" class="mi-invalid-feedback">
                                                Generado incorrectamente.
                                            </span>                                                                                      
                                        </ng-container> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input required class="form-control" name="fecEmision" [(ngModel)]="purchaseOrder.sendDate" type="date"
                                        #sendDate="ngModel" [ngClass]="!sendDate.value ? 'mi-requerido': sendDate.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'" placeholder="" />
                                        <label for="inputFecEmision">Fecha de emision:</label>                                        
                                    </div>
                                    <ng-container *ngIf="!sendDate.value">
                                        <span *ngIf="showRequired" class="mi-invalid-feedback">
                                            Debe seleccionar una fecha de emision.
                                        </span>  
                                    </ng-container>
                                </div>
                            </div>
                            <div class="row mb-3">                                
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" name="fecEntrega" [(ngModel)]="purchaseOrder.receiptDate" required type="date"
                                        #receipDate="ngModel" [ngClass]="!receipDate.value ? 'mi-requerido': receipDate.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'" placeholder="" />
                                        <label for="inputFecEntrega">Fecha de recepcion:</label>
                                        <ng-container *ngIf="receipDate.value">
                                            <span *ngIf="receipDate.value < sendDate.value" class="mi-invalid-feedback">
                                                Tiene que ser una fecha posterior a la de emision.
                                            </span>                                                                                      
                                        </ng-container>
                                        <!-- Aca ver si puedo fijarme si la fecha es menor a la de emision tiro cartel-->
                                        <ng-container *ngIf="!receipDate.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Debe seleccionar una fecha de recepcion.
                                            </span>  
                                        </ng-container>  
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <textarea maxlength="1024" minlength="3" class="form-control" name="description" [(ngModel)]="purchaseOrder.description" type="text" 
                                        #description="ngModel" [ngClass]="!description.value ? '': description.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        placeholder=""></textarea>
                                        <label for="inputDescri">Información de recepción: </label>
                                        <ng-container *ngIf="description.value">                                            
                                            <span *ngIf="description.errors?.['minlength'] && !show" class="mi-invalid-feedback">
                                                Longitud minima 3 caracteres
                                            </span>
                                            <span *ngIf="description.errors?.['maxlength'] && !show" class="mi-invalid-feedback">
                                                Longitud maxima 1024 caracteres
                                            </span>
                                            <span *ngIf="!checkSpecialCharacters(description.value) && show" class="mi-invalid-feedback">
                                                No puede contener caracteres especiales.
                                            </span>                                             
                                        </ng-container>
                                    </div>
                                </div>                                                               
                            </div>                                                                                                   
                            <div class="row mb-3">                                
                                <div class="col-md-6 d-flex">
                                    <span *ngIf="purchaseOrder.details.length > 0" class="bd-placeholder-img card-img-top imgContainer me-4" style="height: 6rem;">
                                        <img
                                          class="imgCard"
                                          src= "{{purchaseOrder.provider.logo}}" 
                                          alt="image"
                                          style="height: 6rem;"
                                          (error)="changeImage($event)"                                        
                                        />
                                    </span> 
                                    <div class="form-floating mt-3" style="width: 200%;">                                                 
                                        <select (change)="updateArticles()" required [title]="purchaseOrder.details.length > 0 ? 'No puedes modificar el proveedor, una ves iniciado el detalle' :
                                                 'Proveedores'" [disabled]="purchaseOrder.details.length > 0" class="form-select" name="provider" [(ngModel)]="idProvider"
                                                 #provider="ngModel" [ngClass]="!provider.value ? 'mi-requerido': provider.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                                 >
                                            <option *ngFor="let provider of providers" value="{{provider.id}}">
                                                {{provider.businessName | uppercase}}
                                            </option>                                                           
                                        </select>
                                        <label for="SelProvedores">Provedor:</label>
                                        <ng-container *ngIf="!provider.value">
                                            <span *ngIf="showRequired" class="mi-invalid-feedback">
                                                Debe seleccionar un proveedor.
                                            </span>                                            
                                        </ng-container>  
                                    </div>
                                </div>
                                <div class="col-md-4 mt-3">  
                                    <div class="form-floating">                                                 
                                        <select [disabled]="idProvider === 0"  required class="form-select" name="article" [(ngModel)]="this.idArticle" #article="ngModel"
                                        [ngClass]="!article.value ? '': article.errors ? 'is-invalid mi-invalid' : 'is-valid mi-valid'"
                                        >
                                            <option *ngFor="let article of articles" value="{{article.id}}">
                                                {{ article.name| uppercase	}}
                                            </option>                                                           
                                        </select>
                                        <label for="SelProductos">Articulo:</label>
                                        <!-- Ver q onda -->                                         
                                    </div>
                                </div>
                                <div class="col-md-2 d-flex mt-3">
                                    <div class="form-floating">                                                        
                                        <input type="number" min="1" value="1" class="form-control" [(ngModel)]="this.amount" name="cantidad" placeholder="">
                                        <label for="inputCantidad">Cantidad:</label>
                                    </div>
                                    <!-- Ver q onda --> 
                                    <div class="form-floating mt-1 ms-3 ">                                                        
                                        <button [disabled]="idArticle === 0"  title="Agregar al detalle" type="button" class="btn btn-lg btn-outline-success" (click)="agregarDetalle()">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="14" width="12" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#8732cd" d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                        </button>
                                    </div>
                                </div>                                                                     
                            </div>                            
                            <div *ngIf="purchaseOrder.details.length > 0" class="row mt-0">
                                <p class="text-uppercase h5 p-0 m-0">Detalle: </p>
                                <div class="col-md-12 table-responsive table-scroll">
                                    <table class="table mt-4 text-center text-uppercase">
                                        <thead>
                                          <tr>
                                            <th>Proveedor</th>
                                            <th>Artículo</th>
                                            <th>Cantidad</th>
                                            <th>Subtotal</th>
                                            <th>Acciones</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr *ngFor="let detail of purchaseOrder.details">
                                            <td>{{ purchaseOrder.provider.businessName }}</td>
                                            <td>{{ detail.article.name }}</td>
                                            <td>{{ detail.amount }}</td>
                                            <td>{{ detail.subtotal | currency:'USD':'symbol':'1.2-2' }}</td>
                                            <td>
                                                <button type="button" title="Eliminar" class="btn btn-outline-danger btn-sm" (click)="eliminarDetalle(detail)">
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path fill="#bc0101" d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
                                                </button>
                                            </td>
                                          </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">
                                                    <div class="text-end px-2 mx-4">
                                                        <p><strong>Total: </strong> {{purchaseOrder.total | currency:'USD':'symbol':'1.2-2'}}</p>
                                                    </div>
                                                </th>                                               
                                            </tr>
                                        </tfoot>
                                      </table>
                                </div>
                            </div>                                                                                 
                            <div class="mt-4 mb-0">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-block mi-btn-add" id="btnCrearOC">Crear Orden de compra</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
