.table-scroll{
  border-radius: .5rem !important;
  position: relative !important;
  height: 18rem !important;
}

.table-scroll::-webkit-scrollbar {
  width: .4rem; 
  background-color: #202020;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 5rem;
}

  table td,
  table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  thead {
    top: 0;
    position: sticky;
  }
  
  thead tr th{
    color: violet !important;
  }