<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Tabla de Articulos</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="../index.html">Inicio</a></li>
            <li class="breadcrumb-item active">Tabla</li>
        </ol>                        
        <div id="contenedor-tabla" class="card mb-4">
            <div id="tabla-contenedor" class="card-body">
                <table id="datatablesSimple">
                    <thead id="header-table">
                        <tr>
                            <th>Cod</th>
                            <th>Razon Social</th>
                            <th>Mail</th>
                            <th>Cuit</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Rol</th>
                        </tr>
                    </thead>
                    <tbody id="body-table">
                        <tr *ngFor="let article of this.articles">
                            <td>{{article.proveedor}}</td>
                            <td>{{article.cod}}</td>
                            <td>{{article.categoria}}</td>
                            <td>{{article.producto}}</td>
                            <td>{{article.descri}}</td>
                            <td>{{article.precio | currency:'$':'symbol':'1.2-2'}}</td>
                        </tr>
                    </tbody>
                    <tfoot id="footer-table">
                        <tr>
                            <th>Cod</th>
                            <th>Razon Social</th>
                            <th>Mail</th>
                            <th>Cuit</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Rol</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>
