table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}        
thead {
  top: 0;
  position: sticky;
}
thead tr th{
  color: var(--color-primary) !important;
  background-color: rgba(0, 0, 0, .95);
}

.table-scroll{
  position: relative !important;
  height: 50.01rem !important;
}

.table-scroll::-webkit-scrollbar {
  width: .4rem; 
  background-color: #202020;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 5rem;
}
/* Menu contextual  */

.contextMenu{
  position: fixed;
  opacity: 0.9;
  background-color: #FFF;
  display: none;
  border: solid var(--color-primary);
}

.contextMenu .bttn{
  border-radius: 70%;
  margin: 0 !important;
  transition: all .3s linear;
}

.contextMenu .bttn .icono{
  fill: var(--color-primary);
  transition: all .3s linear;
}

.contextMenu .bttn:hover{
  border-radius: 0%;
  background-color: var(--color-primary);
  color: #FFF;
}
.contextMenu .bttn:hover .icono{
  fill: #FFF;
}
table tr .tr-delete{
  background-color: rgb(173, 173, 173) !important;
}