@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Slab&display=swap');

*{
    font-family: 'Inconsolata', monospace,'Roboto Slab', serif !important;
}

:root {
    --color-primary: #8732CD;
    --color-secondary: #CE1793;
  }

.mi-bg-black{
    background-color: #202020 !important;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.b-degrade {
height: 0.2rem;
background: rgb(189, 189, 189);
background: linear-gradient(90deg, #fff 0%, rgb(150, 126, 197) 0%, var(--color-primary), var(--color-secondary) 100%);
background-size: 300% 100%;
animation: gradient 5s ease infinite;
}

body::-webkit-scrollbar {
    width: .4rem; 
    background-color: #202020;
}

body::-webkit-scrollbar-thumb {
    background-color: #adadad;
    border-radius: 5rem;
}

