.img-logo{
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    margin: .5rem .5rem !important;
    opacity: 80%;
    transition: all .3s linear;
}
.img-logo:hover{
    opacity: 100%;
}

.header-options li a{
    color: white !important;
    padding: 0 3rem;
}

.mi-btn{
    color: white !important;
    transition: color .3s ease;
}

.mi-btn:hover{
    color: var(--color-secondary) !important;
}

.dropdown-item:hover{
    background-color: rgb(26, 26, 26) !important;
}

.dropdown-item:hover + .mi-btn{
    color: var(--color-secondary) !important;
}

.mi-btn-active{
    color: var(--color-secondary) !important;
}